img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

input{
  margin-bottom: 1%;
}


.submit{
  margin-right: 6%;
  background-color: #16a092;
  border-radius: 30%;
  height: 30px;
  width:3%
}
